body {
  height:100vh;
  width:100%;
  margin:0;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  animation: gradientBG 15s ease infinite;
  background-size: 400% 400%;
  font-family: 'Noto Sans', sans-serif;
}

@keyframes gradientBG {
  0% {
      background-position: 0% 50%;
  }

  50% {
      background-position: 100% 50%;
  }

  1000% {
      background-position: 0% 50%;
  }

}



.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  background: linear-gradient(135deg,white);
  width: 100%;
  min-height: 50vh;
  justify-content: center;
  align-items:center;
  border-style: solid;
  padding-top: 40px
}

.app-wrapper {
  background-color: white;
  width:100%;
  min-height:100px;
  padding:30px;
  justify-content: center;
  align-items:center;
  border-style: solid
}

.walletCard {
	margin: 1rem;
	border: 1px solid black;
	border-radius: 5px;

}